<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- AAD endpoint used during authentication requests -->
    <add key="ActiveDirectoryEndpoint" value="https://login.microsoftonline.com" />
    <!-- AAD Graph API endpoint addressed utilized by the application -->
    <add key="ActiveDirectoryGraphEndpoint" value="https://graph.windows.net" />
    <!-- Azure Resource Manager endpoint address utilized by the application -->
    <add key="AzureResourceManagerEndpoint" value="https://management.azure.com/" />
    <!-- Microsoft Graph endpoint address -->
    <add key="MicrosoftGraphEndpoint" value="https://graph.microsoft.com/" />
    <!-- Partner Center API endpoint address utilized by the application -->
    <add key="PartnerCenterEndpoint" value="https://api.partnercenter.microsoft.com" />

    <!-- (Optional) Specify the Application Insights instrumentation key here  -->
    <add key="AppInsights.InstrumentationKey" value="" />

    <!-- Specify the Direct AAD application identifier here -->
    <add key="Direct.ApplicationId" value="" />
    <!-- Specify the Direct AAD application here here -->
    <add key="Direct.ApplicationSecret" value="" />
    <!-- Specify the Direct AAD tenant identifier here -->
    <add key="Direct.ApplicationTenantId" value="" />

    <!-- Specify a boolean value indicating if development is enabled or not. -->
    <add key="IsDevelopment" value="false" />

    <!-- Specify the Partner Center AAD application ID here -->
    <add key="PartnerCenter.ApplicationId" value="" />
    <!-- Specify the Partner Center AAD application secret here -->
    <add key="PartnerCenter.ApplicationSecret" value="" />
    <!-- Specify the Partner Center AAD tenant identifier here -->
    <add key="PartnerCenter.ApplicationTenantId" value="" />

    <!-- Specify the Peek AAD application ID here -->
    <add key="Peek.ApplicationId" value="" />
    <!-- Specify the Peek AAD application secret here -->
    <add key="Peek.ApplicationSecret" value="" />
    <!-- Specify the Peek AAD tenant identifier here -->
    <add key="Peek.ApplicationTenantId" value="" />

    <!-- Specify the queue batch size here -->
    <add key="Storage.QueueBatchSize" value="15" />

    <!-- Specify the number of days for which usage records will be requested -->
    <add key="Usage.RequestNumberOfDays" value="1" />
  </appSettings>
  <connectionStrings>
    <add name="AzureStorage" connectionString="" />
    <add name="AzureWebJobsDashboard" connectionString="" />
    <add name="AzureWebJobsStorage" connectionString="" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.1.0" newVersion="8.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.13.8.999" newVersion="3.13.8.999" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.Agent.Intercept" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.WebJobs.Host" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.WebJobs" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>